/* Reset some basic elements */
body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #005A9C;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    background: #333;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 10px 20px;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

footer p {
    margin: 10px;
}
